-
  var data = {
    title: 'Результативное продвижение бизнеса в социальных сетях',
    text: 'Настраиваем таргетированную рекламу и приводим целевых клиентов.',
    button: 'Заказать',
    bg: '../img/hero/BG.webp',
  };
+heroBlock(data)
