@import "variables";
@import "mixins";

.hero {
  position: relative;
  height: 100vh;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: 845px;
  background-position: 100% 100%;

  @media (max-width: 1300px) {
    background-size: 745px;
    background-position: 120% 100%;
  }
  @media (max-width: 1024px) {
    // height: 600px;
    background-size: 700px;
    background-position: 335px 60%;
  }
  @media (max-width: 768px) {
    background-position: 111px 60%;
  }
  @media (max-width: 512px) {
    background-size: 500px;
    background-position: 150px 60%;
  }
}

.hero__mobilebackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $colorLightOpacity_1;
  display: none;
  @media(max-width: 1024px) {
    display: block;
  }
}
.hero-content {
  position: relative;
  top: 40%;
  transform: translateY(-50%);

  &__title,
  &__text {
    width: 810px;

    @media (max-width: 1300px) {
      width: 77%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__title {
    margin-bottom: 38px;
    font-size: 48px;
    line-height: 1;
    font-weight: 500;

    @media (max-width: 1024px) {
      // max-width: 620px;
      font-size: 40px;
    }
    @media (max-width: 512px) {
      max-width: 300px;
      font-size: 26px;
    }
  }
  &__text {
    padding-right: 30%;
    margin-bottom: 70px;
    font-size: 22px;
    line-height: 1.55;

    @media (max-width: 1024px) {
      // width: 455px;
      padding-right: 10%;
    }
    @media (max-width: 768px) {
      max-width: 455px;
    }
    @media (max-width: 512px) {
      max-width: 300px;
      font-size: 16px;
    }
  }
  &__button {
    @include buttonPrimary("1");
    padding: 18px 60px;
    font-size: 16px;
  }
}
