@use "sass:math";

@mixin purpose($bgPath) {
  position: relative;
  min-height: 470px;
  background-image: url($bgPath);
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 1024px) {
    background-size: 53%;
    background-position: -14% 50%;
  }
  @media (max-width: 512px) {
    background-size: 100%;
    background-position: 0% 0%;
  }

  &__title {
    margin-bottom: 20px;
    text-align: left;
    @media (max-width: 512px) {
      font-size: 20px;
    }
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    padding-left: 55%;
    transform: translateY(-50%);
    @media (max-width: 1024px) {
      padding-left: 43%;
    }
    @media (max-width: 512px) {
      padding-left: 0;
      padding-top: 316px;
    }
  }
  &__text {
    font-size: 18px;
    @media (max-width: 512px) {
      font-size: 16px;
    }
  }
}

@mixin descCardsWithIcons {
  &__list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 512px) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    background-repeat: no-repeat;
    background-size: 60px;
  }
  &__subtitle {
    padding: 20px 0;
    padding-left: 80px;
    margin-bottom: 10px;
    @media (max-width: 512px) {
      font-size: 16px;
    }
  }
  &__text {
    @media (max-width: 512px) {
      padding-right: 10px;
      font-size: 14px;
    }
  }
}

@mixin priceCardWithBoard {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    list-style: none;
    @media (max-width: 960px) {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 50px;
    }
  }
  &__item {
    position: relative;
    padding-bottom: 50px;
    border: 1px solid $colorGrey_3;
    @media (max-width: 960px) {
      width: 60%;
    }
    @media (max-width: 670px) {
      width: 70%;
    }
    @media (max-width: 512px) {
      width: 296px;
    }
  }
  &__bg {
    position: relative;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 960px) {
      height: 300px;
    }
    @media (max-width: 768px) {
      height: 270px;
    }
    @media (max-width: 512px) {
      height: 200px;
    }
  }
  &__bg--top,
  &__bg--bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  &__item:nth-child(odd) {
    .price__bg--top {
      background-image: url(../img/iconsSvg/priceBorder_1.svg);
    }
    .price__bg--bottom {
      background-image: url(../img/iconsSvg/priceBorder_2.svg);
    }
  }
  &__item:nth-child(even) {
    .price__bg--top {
      background-image: url(../img/iconsSvg/priceBorder_2.svg);
    }
    .price__bg--bottom {
      background-image: url(../img/iconsSvg/priceBorder_1.svg);
    }
  }
  &__bg--top {
    top: 0;
    left: 0;
  }
  &__bg--bottom {
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
  }
  &__border {
    width: 100%;
  }
  &__subtitle {
    margin-bottom: 10px;
    padding: 0 20px;
    font-size: 26px;
    line-height: 1.23;
    text-align: center;
  }
  &__price {
    font-size: 20px;
    line-height: 1.35;
    font-weight: 600;
  }
  &__preprice {
    margin-right: 5px;
    color: $colorPrimary_2;
  }
  &__sublist {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 35px;
    list-style: none;
    text-align: center;
  }
  &__subitem {
    padding: 15px 0;
    border-bottom: 1px solid $colorGrey_3;
    &--color2 {
      color: $colorPrimary_2;
    }
    &--color3 {
      color: $colorPrimary_1;
    }
  }
  &__additional {
    &--color2 {
      color: $colorPrimary_2;
    }
    &--color3 {
      color: $colorPrimary_1;
    }
  }
  &__button {
    @include buttonPrimary("5");
    position: absolute;
    left: 50%;
    bottom: 20px;
    padding: 5px 10px;
    display: inline-block;
    transform: translateX(-50%);
  }
}

@mixin transition($prop) {
  transition-property: $prop;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

@mixin linkStates($type) {
  @if $type== "" {
    &:hover {
      color: $colorPrimary_1;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: none;
      color: $colorPrimary_1;
    }

    &:active {
      color: $colorPrimary_1-dark;
    }
  }

  @if $type== "1" {
    color: $colorPrimary_1;

    &:hover {
      color: $colorPrimary_1-light;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: none;
      color: $colorPrimary_1-light;
    }

    &:active {
      color: $colorPrimary_1-dark;
    }
  }
}

@mixin buttonPrimary($type) {
  $transitionProp: background-color, border-color, color;
  @include transition($transitionProp);
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;

  @if $type== "1" {
    border: 2px solid $colorPrimary_1;
    background-color: transparent;
    font-size: 16px;
    color: inherit;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: $colorPrimary_1;
      background-color: $colorPrimary_1;
      color: $colorLight;
    }

    &:focus-visible {
      outline: none;
      border-color: $colorPrimary_1;
      background-color: $colorPrimary_1;
      color: $colorLight;
    }

    &:active {
      border-color: $colorPrimary_1-dark;
      background-color: $colorPrimary_1-dark;
      color: $colorLight;
    }
  }
  @if $type== "2" {
    border: 2px solid $colorPrimary_1;
    background-color: $colorPrimary_1;
    color: $colorLight;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: $colorPrimary_2;
      background-color: $colorPrimary_2;
      color: $colorLight;
    }

    &:focus-visible {
      outline: none;
      border-color: $colorPrimary_2;
      background-color: $colorPrimary_2;
      color: $colorLight;
    }

    &:active {
      border-color: $colorPrimary_2-dark;
      background-color: $colorPrimary_2-dark;
      color: $colorLight;
    }
  }
  @if $type== "3" {
    border: 2px solid $colorPrimary_1;
    background-color: transparent;
    color: $colorPrimary_1;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: $colorPrimary_2;
      color: $colorPrimary_2;
    }

    &:focus-visible {
      outline: none;
      border-color: $colorPrimary_2;
      color: $colorPrimary_2;
    }

    &:active {
      border-color: $colorPrimary_2-dark;
      color: $colorPrimary_2-dark;
    }
  }
  @if $type== "4" {
    border: 2px solid $colorGrey_2;
    background-color: $colorGrey_2;
    color: $colorLight;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: $colorPrimary_2;
      background-color: $colorPrimary_2;
      color: $colorLight;
    }

    &:focus-visible {
      outline: none;
      border-color: $colorPrimary_2;
      background-color: $colorPrimary_2;
      color: $colorLight;
    }

    &:active {
      border-color: $colorPrimary_2-dark;
      background-color: $colorPrimary_2-dark;
      color: $colorLight;
    }
  }
  @if $type== "5" {
    border: 2px solid $colorGrey_2;
    background-color: transparent;
    color: $colorGrey_2;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: $colorPrimary_2;
      color: $colorPrimary_2;
    }

    &:focus-visible {
      outline: none;
      border-color: $colorPrimary_2;
      color: $colorPrimary_2;
    }

    &:active {
      border-color: $colorPrimary_2-dark;
      color: $colorPrimary_2-dark;
    }
  }
}

@mixin svgIcon {
  max-width: 100%;
  max-height: 100%;
  color: inherit;
  pointer-events: none;
}

@mixin logoSlider {
  max-width: 90%;

  &__wrapper {
    align-items: center;
  }
  &__link {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
  }

  &__item {
    @media(max-width: 1300px) {
      text-align: center;
    }
  }
}

@mixin infoCard {

}
