.modal {

  &__container {
    max-width: 90%;
  }
  &__header {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__close {
    @include transition(color);
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    color: $colorPrimary_1;
    cursor: pointer;

    &:hover {
      color: $colorPrimary_2;
    }
    &:focus-visible {
      color: $colorPrimary_2;
    }
    &:active {
      color: $colorPrimary_2-dark;
    }
  }
  &__icon-close {
    @include svgIcon;
    @include transition(fill);
  }
}


.modal-call {
  &__content {
    width: 560px;
    padding: 340px 45px 45px 45px;
    background-image: url(../img/call.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 10%;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 1.23;
    font-weight: 600;
  }
  &__description {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 400;
  }

  &__form {
    margin-bottom: 35px;
    display: flex;
  }

  &__input {
    width: 55%;
    margin-right: auto;
    height: 60px;
    padding: 0 20px;
    background-color: $colorLight_1;
    border: none;
    border-radius: 5px;

    &::placeholder {
      color: $colorDark;
      font-size: 16px;
      opacity: 0.5;
    }
  }

  &__button {
    @include buttonPrimary('2');
    width: 40%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
  }

  &__prevention {
    line-height: 1.55;
  }

  &__privacy {
    @include transition(color);
    @include linkStates('1');
  }
}

$servicesInputHeight: 50px;
$servicesInputborder: 1px solid #000;
$servicesInputborderRadius: 10px;
@media(max-width: 768px) {
  $servicesInputHeight: min-content;
}

.modal-services{
  &__content {
    padding: 60px;
    @media(max-width:1024px) {
      padding: 35px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    width: 100%;
    padding-bottom: 15px;
    font-weight: 600;
    @media(max-width:1024px) {
      padding-bottom: 10px;
    }
    @media(max-width:768px) {
      font-size: 12px;
    }
  }
  &__input {
    width: 100%;
    height: $servicesInputHeight;
    margin-top: 10px;
    padding: 10px;
    border: $servicesInputborder;
    border-radius: $servicesInputborderRadius;
    font-size: 16px;

    &--textarea {
      height: 135px;
      resize: none;
      @media(max-width:768px) {
        height: 90px;
      }
    }
    &::placeholder {
      font-family: "Geometria", "Arial";
      font-size: 16px;
      color: $colorDark;
      opacity: 0.5;
    }
  }
  &__button {
    @include buttonPrimary('2');
    padding: 20px;
    font-size: 16px;
    @media(max-width: 768px) {
      padding: 10px;
      font-size: 12px;
    }
  }
}

.modal-services-select,
.modal-services-select__label {
  display: none;
  &._visible {
    display: block;
  }
}

.modal-services-select {
  width: 100%;
  margin-bottom: 25px;
  @media(max-width:1024px) {
    padding-bottom: 15px;
  }
  @media(max-width:768px) {
    padding-bottom: 0px;
  }

  $paddingHorizont: 10px;
  &__header {
    height: $servicesInputHeight;
    padding: 15px $paddingHorizont;
    border: $servicesInputborder;
    border-radius: $servicesInputborderRadius;
    @media(max-width:768px) {
      padding: 8px $paddingHorizont;
      padding-right: 50px;
      font-size: 12px;
    }
  }
  &__icon {
    position: absolute;
    right: 25px;
  }
  &__list {
    padding-top: 20px;
    border-left: $servicesInputborder;
    border-right: $servicesInputborder;
    border-bottom: $servicesInputborder;
    border-bottom-left-radius: $servicesInputborderRadius;
    border-bottom-right-radius: $servicesInputborderRadius;
    transform: translateY(-13px);
    transition: opacity 0.2s;
  }
  &__item,
  &__option {
    width: 100%;
    transition: color 0.3s, background-color 0.3s;
  }
  &__item {
    padding: 5px $paddingHorizont;

    &:hover {
      background-color: $colorPrimary_1;
      color: $colorLight;
    }
    &:active {
      background-color: $colorPrimary_1-dark;
      color: $colorLight;
    }
    &.focused {
      background-color: $colorPrimary_2;
    }
  }
  &__option {
    color: inherit;
  }
}

.modal-services-socials {
  margin-bottom: 50px;
  @media(max-width:1024px) {
    margin-bottom: 0px;
  }

  &__title {
    width: 100%;
    padding-bottom: 15px;
    font-weight: 600;
    @media(max-width: 768px) {
      font-size: 12px;
    }
  }
  &__wrapper {
    display: flex;
    row-gap: 10px;
  }
  &__label {
    @include transition(color);
    width: 90px;
    height: 90px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    @media(max-width:1024px) {
      width: 60px;
      height: 60px;
    }
    @media(max-width:768px) {
      width: 50px;
      height: 50px;
      font-size: 12px;
    }
  }
  &__input {
    opacity: 0;
  }
  &__input:checked + &__icon::before,
  &__input:checked + &__icon::after {
    opacity: 1;
  }
  &__icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    @media(max-width:1024px) {
      width: 50px;
      height: 50px;
      margin-bottom: 0px;
    }
    @media(max-width: 768px) {
      width: 35px;
      height: 35px;
      margin-bottom: 0px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      opacity: 0;
      transition: opacity 0.2s;
    }
    &::before {
      top: -5px;
      left: -10px;
      width: 30px;
      height: 30px;
      background-color: $colorPrimary_1;
      border-radius: 100%;
    }
    &::after {
      top: 3px;
      left: -3px;
      width: 15px;
      height: 10px;
      border-bottom: 2px solid #fafafa;
      border-left: 2px solid #fafafa;
      transform: rotate(-50deg);
    }
  }
  &__label:hover,
  &__label:hover &__svg {
    fill: $colorPrimary_1;
    color: $colorPrimary_1;
  }
  &__label:focus,
  &__label:focus &__svg {
    fill: $colorPrimary_1;
    color: $colorPrimary_1;
  }
  &__label:focus-visible,
  &__label:focus-visible &__svg {
    fill: $colorPrimary_1;
    color: $colorPrimary_1;
  }
  &__label:active,
  &__label:active &__svg {
    fill: $colorPrimary_1-dark;
    color: $colorPrimary_1-dark;
  }

  &__svg {
    @include transition(fill);
    @include svgIcon;
  }
}
