@use "sass:math";

$arrowDownSvg: '<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.65674 5.80521L10.5593 0.902607L11.3136 1.65685L5.65674 7.31371L-0.000115871 1.65685L0.754131 0.902607L5.65674 5.80521Z" fill="currentColor"/> </svg>';

// COLORS
$colorLight: rgba(250,250,250);
$colorLight_1: #e6e6e6;
$colorLightOpacity: rgba(250,250,250,0.80);
$colorDark: #080808;
$colorDark_1: #222;
$colorDark_1-opacity: rgba(34, 34, 34, 0.734);
$colorGrey_1: rgba(232,232,232);
$colorGrey_1-opacity: rgba(232,232,232,1);
$colorGrey_2: rgba(38,37,37);
$colorGrey_3: #e0e6ed;
$colorPrimary_1: #d63772;
$colorPrimary_1-light: #e98aad;
$colorPrimary_1-dark: #962851;
$colorPrimary_2: #1dcfc3;
$colorPrimary_2-dark: #1ca39a;

// Container
$containerWidth320: 92.5%;
$containerWidth768: 81.25%;
$containerWidth1024: 92.875%;
$containerDesktop: 1200px;
