@import "mixins";
@import "variables";
@import "feedback";
@import "modals";

.content {
  margin-bottom: 30px;
  padding-top: 130px;
  padding-bottom: 100px;
  background-color: $colorGrey_4;
  &__title {
    margin-bottom: 50px;
  }
  &__text {
    margin-bottom: 50px;
    padding: 0 26%;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    @media (max-width: 1024px) {
      padding: 0 18%;
    }
    @media (max-width: 768px) {
      padding: 0 8%;
    }
    @media (max-width: 512px) {
      padding: 0 0;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    list-style: none;
    @media (max-width: 1280px) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    position: relative;
    padding: 30px;
    padding-left: 260px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    @media (max-width: 512px) {
      padding: 30px 10px;
      padding-top: 260px;
      background-size: 250px;
      background-position: 50% -10%;
    }
  }
  &__subtitle,
  &__description {
    margin-bottom: 20px;
  }
  &__subtitle {
    padding-right: 15px;
    font-size: 20px;
    line-height: 1.35;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  &__description {
    font-size: 16px;
    line-height: 1.55;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  &__button {
    height: 35px;
    padding: 0 15px;
    font-size: 13px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
  }
  &__link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
