@import "mixins";
@import "variables";

.footer {
  padding: 15px 40px;
  display: flex;
  align-items: center;
  background-color: $colorLightOpacity;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0);

  &__copyright {
    flex-grow: 1;
    text-align: center;
  }
}

