@import "variables";
@import "mixins";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: none;
}
*:focus-visible {
  outline: 2px solid $colorPrimary_2;
}

body {
  font-family: "Geometria", "Arial";
  color: $colorDark;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
}

.container {
  width: $containerWidth320;
  margin: auto;

  @media (min-width: 768px) {
    width: $containerWidth768;
  }

  @media (min-width: 1024px) {
    width: $containerWidth1024;
  }

  @media (min-width: 1300px) {
    width: $containerWidth1024;
    max-width: $containerDesktop;
  }
}

.body {
  margin: 0;
}

.title--hidden {
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
}

.logo {
  &__link {
    width: 210px;
    padding: 5px;
    display: inline-block;
  }
  &__image {
    width: 100%;
    height: 100%;
  }

  @media(max-width: 512px) {
    &__link {
      width: 160px;
    }
  }
}

.title {
  position: relative;
  font-size: 42px;
  line-height: 1.23;
  text-align: center;
  z-index: 1;
  @media(max-width: 1300px) {
    font-size: 38px;
  }
  @media(max-width: 768px) {
    font-size: 30px;
  }
}

.choozzie {
  &__list {
    background-color: $colorLight;
  }
  &__button {
    padding: 0;
    font-size: inherit;
    text-align: left;
  }
}

.slider {
  @media(max-width: 512px) {
    $horizontalStep: 15%;
  }
  @media(max-width: 768px) {
    $horizontalStep: 0.5%;
  }
  $horizontalStep: 2%;
  &-buttons {
    &__prev,
    &__next {
      position: absolute;
      top: 50%;
      width: 60px;
      height: 60px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid transparent;
      border-radius: 100%;
      background-color: transparent;
      color: $colorPrimary_2;
      fill: transparent;
      stroke-width: 2px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;
      transform: translateY(-50%);
      z-index: 1;
      @media(max-width: 768px) {
        width: 50px;
        height: 50px;
      }

      &:hover {
        background-color: $colorGrey_1-opacity;
        color: $colorPrimary_1;
      }
      &:focus {
        background-color: $colorGrey_1-opacity;
        color: $colorPrimary_1;
      }
      &:active {
        border-color: $colorPrimary_1;
        background-color: $colorGrey_1;
        color: $colorPrimary_1-dark;
      }
    }

    &__prev {
      left: $horizontalStep;


      .slider-buttons__icon {
        transform: rotate(180deg) translateX(2px);
      }
    }
    &__next {
      right: $horizontalStep;

      .slider-buttons__icon {
        transform: translateX(2px);
      }
    }
    &__icon {
      @include svgIcon;
      max-width: 50%;
      max-height: 50%;
      position: absolute;
    }
  }
}

.swiper-button-disabled {
  filter: grayscale(100%);
  pointer-events: none;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: $colorDark_1;
}

.socials {
  display: flex;
  list-style: none;

  &__link {
    width: 60px;
    height: 40px;
    padding: 5px 15px;
    display: inline-block;
  }
  &__link:hover >  &__icon {
    fill: $colorPrimary_1;
  }
  &__link:focus >  &__icon {
    outline: none;
    fill: $colorPrimary_1;
  }
  &__link:focus-visible >  &__icon {
    outline: none;
    fill: $colorPrimary_1;
  }
  &__link:active >  &__icon {
    fill: $colorPrimary_1-dark;
  }
  &__icon {
    @include transition(fill);
    @include svgIcon;
  }
}
