@use "sass:math";
@import "mixins";
@import "variables";

.header {
  position: fixed;
  width: 100%;
  background-color: $colorLightOpacity;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
  z-index: 99;

  &__wrapper {
    padding: 15px 40px;
    display: flex;
    align-items: center;
  }
}

.header-logo,
.header-tel {
  width: 25%;
}

.header-nav {
  width: 50%;
  padding-left: 50px;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  &__item {
    padding: 0 15px;
  }
  &__link {
    @include transition(color);
    @include linkStates("");
    padding: 5px 0;
    font-weight: 600;
  }
}

.header-tel {
  &__link {
    @include transition(color);
    @include linkStates("");
    margin-right: 35px;
    padding: 5px 0;
    font-weight: 800;
  }
  &__button {
    @include buttonPrimary("1");
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600;
  }
}
