@use "sass:math";
@import "mixins";
@import "variables";

$burgerTransition: 0.3s;

.header {
  position: fixed;
  width: 100%;
  background-color: $colorLightOpacity;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
  z-index: 99;

  &__wrapper {
    padding: 15px 40px;
    display: flex;
    align-items: center;
  }
}

.header-burger {

  display: none;

  &__background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $colorLightOpacity;
    opacity: 0;
    visibility: hidden;
    transition: opacity $burgerTransition, visibility $burgerTransition;
    z-index: 1;
  }

  &__button {
    position: relative;
    width: 35px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;

  }
  // &__button:hover > &__icon,
  // &__button:hover > &__icon::before,
  // &__button:hover > &__icon::after {
  //   border-color: $colorPrimary_1;
  //   // @media(max-width: 1024px) {
  //   //   border-color: $colorDark;
  //   // }
  // }
  // &__button:focus-visible > &__icon,
  // &__button:focus-visible > &__icon::before,
  // &__button:focus-visible > &__icon::after {
  //   border-color: $colorPrimary_1;
  //   @media(max-width: 1024px) {
  //     border-color: $colorDark;
  //   }
  // }
  // &__button:active > &__icon,
  // &__button:active > &__icon::before,
  // &__button:active > &__icon::before,
  // &__button:active > &__icon::after {
  //   border-color: $colorPrimary_1-dark;
  // }
  // &__button:hover > &__icon.open,
  // &__button:focus > &__icon.open,
  // &__button:focus-visible > &__icon.open,
  // &__button:active > &__icon.open {
  //   border-color: transparent;
  // }
  &__icon {
    $transitionSpeed: $burgerTransition;
    $borderWidth: 3px;
    position: relative;
    width: 90%;
    height: 90%;
    display: inline-block;
    border-top: $borderWidth solid $colorDark;
    pointer-events: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      display: inline-block;
      transform: translateY(-50%);
    }

    &,
    &::before,
    &::after {
      border-bottom: $borderWidth solid $colorDark;
      transition: border $transitionSpeed, opacity $transitionSpeed, transform $transitionSpeed;
    }

    &.open {
      border-color: transparent;

      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }

    &--active,
    &--active::before,
    &--active::after {
      border-color: $colorPrimary_1;
    }
  }
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin: auto;
  width: 30%;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  &__item {
    padding: 0 15px;

    &--hidden-desktop {
      display: none;
    }
  }
  &__link {
    @include transition(color);
    @include linkStates("");
    padding: 5px 0;
    font-weight: 600;
  }
  &__socials {
    display: none;
  }
}

.header-tel {
  width: 370px;
  text-align: right;

  &__link {
    @include transition(color);
    @include linkStates("");
    margin-right: 10px;
    padding: 5px 0;
    font-weight: 800;
  }
  &__button {
    @include buttonPrimary("1");
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600;
  }
}


@media (max-width: 1024px) {
  .header-tel {
    display: none;
  }
  .header-burger {
    display: block;

    &__background.open {
      opacity: 1;
      visibility: visible;
    }
  }

  .header-nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    padding: 68px 40px 38px;
    display: flex;
    flex-direction: column;
    background-color: $colorLight;
    opacity: 0;
    visibility: hidden;
    transition: opacity $burgerTransition, visibility $burgerTransition, transform $burgerTransition;
    transform: translateX(300px);
    z-index: 2;

    &__background.open,
    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
    }

    &__nav {
      margin-bottom: auto;
    }

    &__list {
      display: block;
    }
    &__item {
      margin-bottom: 15px;

      &--hidden-desktop {
        display: block;
      }
    }
    &__link {
      font-size: 21px;
      font-weight: 400;
    }
    &__socials {
      display: block;
    }
  }
}
@media (max-width: 512px) {
  .header {

    &__wrapper {
      padding: 15px 20px;
    }
  }
}
