@import "mixins";
@import "variables";
@import "hero";
@import "feedback";
@import "modals";

.info {
  @include descCardsWithIcons;
  &__description {
    margin-bottom: 50px;
    padding: 0 16%;
    font-size: 20px;
    line-height: 1.55;
    @media (max-width: 768px) {
      padding: 0 0;
    }
    @media (max-width: 512px) {
      font-size: 14px;
    }

    strong {
      margin-right: 5px;
    }
  }
  &__steps {
    width: 1160px;
    margin-bottom: 50px;
    @media(max-width: 1300px) {
      width: 940px;
    }
    @media(max-width: 1300px) {
      width: 100%;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  &__list {
    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 50px;
    }
  }
}
.hero {
  background-size: 1500px;
  background-position: 80% 50%;
  .hero__mobilebackground {
    display: none;
    @media(max-width: 768px) {
      display: block;
    }
  }

  @media (max-width: 1300px) {
    background-size: 1300px;
    background-position: 50% 50%;
  }

  @media (max-width: 1024px) {
    background-size: 1000px;
    background-position: 33% 50%;
  }
  @media (max-width: 768px) {
    background-size: 1000px;
    background-position: 74% 50%;
  }
  @media (max-width: 512px) {
    background-size: 1000px;
    background-position: 74% 50%;
  }

  & .hero-content__title,
  & .hero-content__text {
    @media (max-width: 1024px) {
      width: 521px;
    }
  }
}
.purpose {
  @include purpose("../img/programmatic/BGpurpose.webp");
}

