section.section.info.container
  h2.title.info__title Комплексное SMM-продвижение
  p.info__description Маленький интернет-магазин с hand-made продукцией или огромный холдинг с тысячью сотрудников одинаково нуждаются в продвижении в социальных сетях. Благодаря многолетнему опыту с малым и крупным бизнесом, мы умеем вести рекламные кампании с максимальной эффективностью. Но сначала тщательно изучаем нишу, а уже потом разрабатываем векторы работы и определяем стратегию продвижения.
  p.info__description Перед запуском рекламной кампании наши маркетологи совместно с клиентом формируют позиционирование бренда в социальных сетях. Затем определяют целевые аудитории и анализируют продвижение компаний-конкурентов. Исходя из полученных данных, подбирают нужные инструменты smm продвижения.
  p.info__description Перед запуском рекламной кампании наши маркетологи совместно с клиентом формируют позиционирование бренда в социальных сетях. Затем определяют целевые аудитории и анализируют продвижение компаний-конкурентов. Исходя из полученных данных, подбирают нужные инструменты smm продвижения.
  p.info__description Мы используем разные инструменты для продвижения бизнеса: от таргетированной рекламы до публикации постов у блогеров.
  p.info__description Каждые две недели мы готовим подробный отчет с выводами о проделанной работе, в котором отражены расходы и достигнутые показатели. После завершения проекта представляем клиентам подробную аналитику и рекомендации по дальнейшему продвижению бренда в социальных сетях.
