extends layout/main

block styles_plugins
  link(rel="stylesheet", href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
  link(rel="stylesheet", href="css/choozzie.css")
  link(rel="stylesheet", href="css/modalGoody.css")

block styles
  link(rel="stylesheet", href="css/style.css")

block scripts
  script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")

block content
  include main/hero
  include main/services
  include main/cases
  include main/clients
  include main/responses
  include main/team
  include main/technologies

block modals
  include main/modals
