section.section.about.container
  .about__wrapper
    .about-header
      .about-header__right
        h2.title.about-header__title О проекте:
        p.about-header__text.about__text Для набора персонала в петербургскую сеть ресторанов «Евразия» мы в AdsTarget использовали рекламные инструменты соцсетей и контекстную рекламу. «Евразия» — крупнейшая сеть ресторанов и суши-баров в Санкт-Петербурге. Первый ресторан был открыт 18 лет назад, а в настоящее время их уже более 70-ти. Сети постоянно требуются новые кадры — официанты, администраторы, кассиры, бармены и повара.
      .about-header__right
    .about-footer__left
    .about-footer__right
      p.about-footer__text.about__text Мы настроили и запустили рекламные кампании в Instagram, Facebook, ВКонтакте, а также Яндекс.Директе и Google Ads. Оценивая эффективность каждого из каналов, мы в первую очередь ориентировались на стоимость одной заявки — сумму, которую потратили на одного привлечённого соискателя. В VK она получилась самой низкой — 126 ₽ за заявку. А самые дорогие лиды вышли в Facebook и Instagram — в 2,5 раза дороже.
      p.about-footer__text.about__text В результате наибольшее количество заявок за месяц поступило через ВКонтакте. На объявления в соцсети откликнулись 460 человек. Это больше, чем во всех остальных каналах, вместе взятых. Для сравнения: через Яндекс.Директ получили 185 заявок, GoogleAds — 135, Facebook вместе с Instagram — 65.
      p.about-footer__text.about__text Такого результата мы достигли прежде всего благодаря тщательному разделению аудитории на сегменты для дальнейшей работы с каждым из них индивидуально. Не менее важно правильно подобрать формат объявлений, а также креатив, который зацепит целевую аудиторию, — в нашем случае подходящих кандидатов, — и грамотно составить подводку к нему — текст в объявлении с призывом откликнуться на вакансию. На примере «Евразии» мы составили несколько рекомендаций по поиску персонала с помощью рекламных инструментов ВКонтакте и делимся ими с читателями.
