-
  var advice = [
    'Не стоит делать форму слишком длинной — это увеличивает риск, что кандидат не заполнит её до конца. ',
    'Самую интересную для соискателей информацию о компании или вакансии желательно поместить в начале, чтобы замотивировать их оставить заявку. ',
    'Создавать и запускать лучше несколько объявлений сразу — с разными креативами и текстом-подводкой. Так можно выбрать самое эффективное сочетание и не тратить бюджет на остальное промо. ',
    'Для удобства потенциальных кандидатов в заявке нелишним будет указать другие возможные способы связи, например, телефон или электронную почту компании. ',
    'Откликов может быть очень много, а связаться с подходящим кандидатом сразу не всегда возможно. В этом случае можно настроить автоматическую отправку сообщения, в котором вы поблагодарите соискателя за заявку и сориентируете по времени ответа. ',
  ];
section.section.advice.container
  h2.title.advice__title Что нужно учесть при поиске с помощью объявлений с формой сбора заявок
  ul.advice__list
    for item in advice
      li.advice__item= item
