-
  var data = {
    title: 'Как искать персонал в ресторан с помощью рекламы в VK ',
    text: 'Методичка для HR-специалистов и собственников бизнеса.',
    button: 'Хочу также',
    bg: '../../img/cases/evrasia/BG.webp',
  };
+heroBlock(data)
