-
  var list = [
    {
      title: 'Студенческие сообщества',
      description: ', а именно паблики университетов и колледжей Санкт-Петербурга — часто в ресторанах в качестве официантов и барменов подрабатывают именно студенты.',
    },
    {
      title: 'Категория интересов',
      description: ' — поиск работы. Пользователи, чья активность в соцсети показывает, что они интересуются поиском вакансий в компаниях.',
    },
    {
      title: 'Посетители групп по поиску работы.',
      description: ' Отобрали как наиболее активных пользователей таких сообществ, так и новых, только что вступивших участников.',
    },
    {
      title: 'Базы ретаргетинга.',
      description: ' Ретаргетинг — инструмент, позволяющий показывать рекламные объявления людям, которые уже взаимодействовали с компанией. Например, посетителям сайта, тем, кто интересовался определённым товаром или постоянным клиентам. Для «Евразии» базами ретаргетинга стали собственная база соискателей, посетители раздела с вакансиями на сайте компании и пользователи, проявившие активность в уже запущенных объявлениях, — те, кто кликнул на промо, но не отправил заявку.',
    },
    {
      title: 'Look-alike или похожие аудитории.',
      description: ' Look-alike— технология, с помощью которой можно найти людей ВКонтакте, чьё поведение похоже на пользователей в заданной исходной группе. Для «Евразии» это аудитория,похожая на сегменты из базы ретаргетинга.',
    },
  ];

section.section.start.container
  h2.title.start__title Подбираем аудитории и запускаем кампании
  p.start__description Перед запуском рекламных объявлений необходимо провести детальную сегментацию аудитории, для которой будут транслироваться промопосты. Для «Евразии» мы выделили несколько целевых групп.
  ol.start__list
    for item in list
      li.start__item
        strong= item.title
        span= item.description
