-
  var data = {
    title: 'Контекстная реклама ',
    text: 'Яндекс.Директ и Google AdWords',
    button: 'Заказать',
    bg: '../img/programmatic/BG.webp',
  };
+heroBlock(data)
//- section.hero.section
//-   .hero__background
//-   .hero-content.container
//-     h2.hero-content__title
//-     p.hero-content__text
//-     button.hero-content__button
