extends ../layout/other

block styles_plugins
  link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
  link(rel="stylesheet" href="../css/choozzie.css")
  link(rel="stylesheet" href="../css/modalGoody.css")

block styles
  link(rel="stylesheet" href="../css/fonts.css")
  link(rel="stylesheet" href="../css/global.css")
  link(rel="stylesheet" href="../css/header.css")
  link(rel="stylesheet" href="../css/footer.css")
  link(rel="stylesheet" href="../css/contextual.css")

block scripts
  script(defer src="../js/contextual.js")

block content
  include hero
  include info
  include purpose
  include steps
  include subinfo
  include price
  include cases

block modals
  include modals
