-
  var cards = [
    {
      title: 'Геолокация',
      description: 'По месту жительства или работы ',
      icon: 'radar.svg',
    },
    {
      title: 'Группы интересов',
      description: 'По интересам целевой аудитории',
      icon: 'signal.svg',
    },
    {
      title: 'Ретаргет',
      description: 'По активностям на вашем сайте',
      icon: 'scheme.svg',
    },
  ];
  var path = '../img/iconsSvg/';

for item in cards
  - item.path = path;

section.section.info.container
  h2.title.info__title.title--hidden Автоматизированная медийная реклама
  p.info__description
    strong Конте́кстная рекла́ма
    | — включает в себя рекламу на поиске, которая является для пользователей максимально релевантной, так как отвечает на вопрос пользователя, а также рекламу в сетях, которая позволяет получить большой охват целевых клиентов. Благодаря гибкому таргетингу можно воздействовать на узкую группу целевой аудитории, найдя ее по любым параметрам, таким как:
  ul.info__list
    for item in cards
      +infoCard(item, "info")
