-
  var months = [
    {
      title: 'Первый месяц',
      subtitle: 'Настройка аналитики и первый запуск рекламных кампаний',
      icon: 'icon-1.webp',
      list: [
        'Проверка систем аналитики, настройка целей, настройка сквозной аналитики, подключение отслеживания звонков;',
        'Разработка стратегии РК, подготовка mindmap по структуре аккаунта;',
        'Подготовка и согласование семантического ядра, проработка минус-слов;',
        'Создание нескольких вариантов текстов и расширений: быстрых ссылок, описаний и уточнений;',
        'Подбор картинок для сетей; Настройка параметров рекламных кампаний.',
      ],
    },
    {
      title: 'Второй месяц',
      subtitle: 'Настройка инструментов второй очередности, корректировки РК',
      icon: 'icon-2.webp',
      list: [
        'Анализ результатов РК, перераспределение бюджетов и корректировка ставок;',
        'Корректировка ключевых слов, добавление/исключение операторов, остановка неэффективных фраз;',
        'Настройка показов по Аудиториям;',
        'Корректировка ставок по соцдем и устройствам;',
        'Корректировка ставок по типам устройств;',
        'Корректировка ставок по времени суток;',
      ],
    },
    {
      title: 'Третий месяц',
      subtitle: 'Анализ конверсии на сайте, подключение дополнительных инструментов',
      icon: 'icon-3.webp',
      list: [
        'Аудит поведения пользователей на сайте, анализ конверсий; ',
        'Рекомендации по доработке посадочных страниц; ',
        'Внедрение правок на тестовые страницы, запуск А/В текстов посадочных страниц в Google Analytics.',
      ],
    },
  ];
  var ind = 1;

section.section.steps.container
  h2.title.steps__title Как мы работаем
  ul.steps__list
    for step in months
      li.steps__item
        .steps__icon(style="background-image: url(../img/contextual/" + step.icon + ")")
        h3.steps__subtitle= step.title
        h4.steps__description= step.subtitle
        ul.steps__sublist
          for item in step.list
            li= item
        .steps__linewrapper
          .steps__number= ind
          .steps__line
      - ind++


