section.section.subinfo.container
  h2.title.subinfo__title Постоянный контроль эффективности и рекомендации по новым инcтрументам
  p.subinfo__description В бюджет каждого месяца работы включена работа аналитика. Какие инструменты приносят наибольший результат, какие кампании отстают и по каким причинам, как улучшить ситуацию. Специалист контролирует работу отдельных инструментов и готовит отчеты. Аналитик может скорректировать стратегию и предложить перераспределение усилий в сторону наиболее эффективных инструментов.

