include ../layout/mixins
include ../layout/variables

-
  var cases = [
    {
      title: 'Поиск персонала',
      description: 'Соискатели по 144 руб. и объявления с рейтингом 9.9',
      image: '1.webp',
      link: '#',
      alt: 'Фотография девушки официанта',
    },
    {
      title: 'ТК «Китай Город»',
      description: 'Как сменить имидж бренда с помощью визуального контента',
      image: '2.webp',
      link: '#',
      alt: 'Фотография девушки в очках',

    },
    {
      title: 'Studio Context Диана Вишнёва',
      description: 'Как научить танцевать всю страну во время пандемии?',
      image: '3.webp',
      link: '#',
      alt: 'Фотография девушки в украшениях',
    }
  ];



section.section.cases.container#cases
  h2.title.cases__title Наши кейсы
  .cases__list
    -var ind = 0;
    for item in cases
      - ind++
      +caseCard(item, ind, true)
  a.cases__button(href="/cases") Все кейсы
