include ../layout/mixins
include ../layout/variables

section.hero
  .hero__background
  .hero-content.container
    h2.hero-content__title Результативное продвижение бизнеса в социальных сетях
    p.hero-content__text Настраиваем таргетированную рекламу и приводим целевых клиентов.
    button.hero-content__button Заказать настройку
