-
  var data = {
    title: 'Результативное продвижение бизнеса в социальных сетях',
    text: 'Настраиваем таргетированную рекламу и приводим целевых клиентов.',
    button: 'Заказать настройку',
    bg: './img/hero/BG.webp',
  };
+heroBlock(data)
//- section.hero.section
//-   .hero__background
//-   .hero-content.container
//-     h2.hero-content__title
//-     p.hero-content__text
//-     button.hero-content__button
