
section.modal.modal-call#modal
  +callModal
  .modal__container(data-goody-target="services")
    .modal__header
      button.modal__close
        svg.modal__icon-close(aria-hidden="true")
          use(xlink:href="img/svg/sprite.svg#close")
    #modal_content.modal__content.modal-services__content
      #modalSelectMenuLabel.modal-services__label.modal-services-select__label Укажите тип услуги
      #modalSelectMenu.modal-services-select
      form#services_form.modal-services__form(action="#" name="form")
        label.modal-services__label
          input#type_input.modal-services__input.modal-services__input--hidden(type="hidden" name="type" value="Выбор услуги")
        label.modal-services__label Опишите нишу и прикрепите ссылки наваши соц. сети и/или сайт
          br
          textarea.modal-services__input.modal-services__input--textarea._require(name="description" placeholder="Опишите ваш ситуацию...")
        label.modal-services__label Ваше имя
          br
          input.modal-services__input._require(name="name" placeholder="Иван Смирнов")
        label.modal-services__label Ваш телефон
          br
          input.modal-services__input._require(name="phone" placeholder="+7 (999) 999-99-99")
        .modal-services-socials
          p.modal-services-socials__title Выберите способ связи
          .modal-services-socials__wrapper
            label.modal-services-socials__label(tabindex="0")
              input#socials_checked.modal-services-socials__input(type="radio" name="socials" value="Vk" tabindex="-1")
              .modal-services-socials__icon
                svg.modal-services-socials__svg(aria-hidden="true")
                  use(xlink:href="img/svg/sprite.svg#vk")
              br
              |Vk
            label.modal-services-socials__label(tabindex="0")
              input.modal-services-socials__input(type="radio" name="socials" value="Telegramm" tabindex="-1" checked="true")
              .modal-services-socials__icon
                svg.modal-services-socials__svg(aria-hidden="true")
                  use(xlink:href="img/svg/sprite.svg#telegram")
              br
              |Telegramm
            label.modal-services-socials__label(tabindex="0")
              input.modal-services-socials__input(type="radio" name="socials" value="WhatsApp" tabindex="-1")
              .modal-services-socials__icon
                svg.modal-services-socials__svg(aria-hidden="true")
                  use(xlink:href="img/svg/sprite.svg#whatsapp")
              br
              |WhatsApp
        button.modal-services__button(type="submit") Заказать

