-
  var data = {
    title: 'Таргетированная реклама',
    text: 'во всех популярных социальных сетях: ВКонтакте, Facebook и Instagram',
    button: 'Заказать',
    bg: '../img/target/BG.webp',
  };
+heroBlock(data)
