-
  var cards = [
    {
      title: 'Пакет Трафик',
      price: '25000/мес.',
      list: [
        {title: 'Анализ ниши', color: "color1"},
        {title: 'Поиск целевых аудиторий', color: "color1"},
        {title: 'Создание креативов', color: "color1"},
        {title: 'Тестирование и контроль', color: "color1"},
        {title: 'Ежемесячные отчеты', color: "color1"},
      ],
    },
    {
      title: 'Пакет Продажи',
      price: '35000/мес.',
      list: [
        {title: 'Анализ ниши', color: "color1"},
        {title: 'Поиск целевых аудиторий', color: "color1"},
        {title: 'Создание креативов', color: "color1"},
        {title: 'Тестирование и контроль', color: "color1"},
        {title: 'Ежемесячные отчеты', color: "color1"},
        {title: 'Разметка целей на сайте', color: "color2"},
        {title: 'Мониторинг конверсий/оффлайн событий', color: "color2"},
        {title: 'Сквозная аналитика', color: "color2"},
      ],
    },
    {
      title: 'Пакет Продажи + Посадочная страница',
      price: '45000/мес.',
      prePrice: 'от',
      list: [
        {title: 'Анализ ниши', color: "color1"},
        {title: 'Поиск целевых аудиторий', color: "color1"},
        {title: 'Создание креативов', color: "color1"},
        {title: 'Тестирование и контроль', color: "color1"},
        {title: 'Ежемесячные отчеты', color: "color1"},
        {title: 'Разметка целей на сайте', color: "color2"},
        {title: 'Мониторинг конверсий/оффлайн событий', color: "color2"},
        {title: 'Сквозная аналитика', color: "color2"},
        {title: 'Создание посадочной страницы на TapLink или Tilda', color: "color3"}
      ],
    },
  ];

section.section.price.container
  h2.title.price__title Стоимость
  p.price__text Стоимость услуг рассчитывается индивидуально и зависит от ваших целей, бюджета и объёмов выполняемых работ.
  ul.price__list
    for item in cards
      +priceCard(item, "price")
