-
  var cards = [
    {
      title: 'Пакет Трафик',
      price: '25000/мес.',
      listColor1: [
        'Анализ ниши',
        'Поиск целевых аудиторий',
        'Создание креативов',
        'Тестирование и контроль',
        'Ежемесячные отчеты',
      ],
    },
    {
      title: 'Пакет Продажи',
      price: '35000/мес.',
      listColor1: [
        'Анализ ниши',
        'Поиск целевых аудиторий',
        'Создание креативов',
        'Тестирование и контроль',
        'Ежемесячные отчеты',
      ],
      listColor2: [
        'Разметка целей на сайте',
        'Мониторинг конверсий/оффлайн событий',
        'Сквозная аналитика',
      ],
    },
    {
      title: 'Пакет Продажи + Посадочная страница',
      price: '45000/мес.',
      prePrice: 'от',
      listColor1: [
        'Анализ ниши',
        'Поиск целевых аудиторий',
        'Создание креативов',
        'Тестирование и контроль',
        'Ежемесячные отчеты',
      ],
      listColor2: [
        'Разметка целей на сайте',
        'Мониторинг конверсий/оффлайн событий',
        'Сквозная аналитика',
      ],
      listColor3: [
        'Создание посадочной страницы на TapLink или Tilda',
      ],
    },
  ];

section.section.price.container
  h2.title.price__title Стоимость
  p.price__text Стоимость услуг рассчитывается индивидуально и зависит от ваших целей, бюджета и объёмов выполняемых работ.
  ul.price__list
    for item in cards
      +priceCard(item, "price")
