-
  var cards = [
    {
      title: 'Анализ',
      description: 'Делаем анализ вашего бизнеса. Проводим бесплатный аудит ваших сообществ в социальных сетях и даем рекомендации по их оптимизации ',
      icon: 'radar.svg',
    },
    {
      title: 'Майнд-карта',
      description: 'Создаем майнд-карту по основным вашим целевым аудиториям и находим их в социальных сетях ',
      icon: 'scheme.svg',
    },
    {
      title: 'Креативы',
      description: 'Подготавливаем креативы для объявлений и создаем их в рекламных кабинетах в социальных сетях. Настраиваем объявление на ранее выявленные целевые аудитории',
      icon: 'signal.svg',
    },
    {
      title: 'Тестируем',
      description: 'Запускам рекламную кампанию, тестируем объявление и оцениваем эффективность каждого объявления и аудитории',
      icon: 'funnel.svg',
    },
    {
      title: 'Контроль',
      description: 'Контролируем ставки и бюджет рекламной кампании, периодически тестируем новые аудитории и объявления',
      icon: 'pay-per-click.svg',
    },
    {
      title: 'Отчеты',
      description: 'Еженедельно делаем подробный отчет и даем рекомендации по оптимизации результатов',
      icon: 'email.svg',
    },
  ];

  var path = '../img/iconsSvg/';

for item in cards
  - item.path = path;

section.section.work.container
  h2.title.work__title Как мы работаем:
  ul.work__list
    for item in cards
      +infoCard(item, "work")
