section.feedback
  .container
    form.feedback__form
      label.feedback__label
        |Ваше имя
        br
        input.feedback__input(type="text" placeholder="Как к Вам обращаться?")
      label.feedback__label
        |Ваш номер телефона
        br
        input.feedback__input(type="text" placeholder="Как с Вами связаться?")
      label.feedback__label
        |Что будем продвигать?
        br
        input.feedback__input(type="text" placeholder="Ссылка на сайт или сообщество")
      button.feedback__button(type="submit") Рассчитать стоимость
    p.feedback__prevention Нажимая «Рассчитать стоимость» вы подтверждаете своё согласие&#160;
      a.feedback__privacy-policy.feedback__link(href="#") на обработку персональных данных
    a.feedback__business-card.feedback__link(href="#") ООО "Эдстаргет"

