-
  var socials = [
    {
      link: '#',
      id: 'whatsapp',
    },
    {
      link: '#',
      id: 'telegram',
    },
    {
      link: '#',
      id: 'vk',
    },
  ];

mixin socLink(obj)
  -var path = './img/svg/sprite.svg#' + obj.id;
  a.socials__link(href=obj.link)
    svg.socials__icon
      use(xlink:href=path)

ul.socials
  for link in socials
    li.socials__item
      +socLink(link)
