-
  var sizesVar = '(max-width: 567px) 290px, (min-width: 568px) and (max-width: 767px) 568px, (min-width: 768px) and (max-width: 1023px) 668px, (min-width: 1024px) and (max-width: 1779px) 437px, 8770px';

  //- -var sizesVar = '(max-width: 567px) 290px,
  //-                (min-width: 568px) and (max-width: 767px) 568px,
  //-                (min-width: 768px) and (max-width: 1023px) 668px,
  //-                (min-width: 1024px) and (max-width: 1779px) 437px,
  //-                8770px';

  var socials = [
    {
      link: '#',
      id: 'whatsapp',
    },
    {
      link: '#',
      id: 'telegram',
    },
    {
      link: '#',
      id: 'vk',
    },
  ];

  var navListItems = [
    {name: 'Услуги', href: '/#services', id: 'services_link',},
    {name: 'Кейсы', href: '/cases', id: 'cases_link',},
    {name: 'Клиенты', href: '/#clients', mod: 'hidden-desktop', id: 'clients_link',},
    {name: 'Отзывы', href: '/#responses', id: 'responses_link',},
    {name: 'Команда', href: '/#team', mod: 'hidden-desktop', id: 'team_link',},
    {name: 'Брифы', href: '/brief', id: 'brief_link',},
  ];

  var breakPointsFull = [
    1400,
    1024,
    768,
    320,
  ];
