
//- <!-- VK Widget -->
//- <div id="vk_community_messages"></div>
//- <script type="text/javascript">
//- VK.Widgets.CommunityMessages("vk_community_messages", 23317091, {expandTimeout: "120000",disableNewMessagesSound: "1",tooltipButtonText: "Есть вопрос?"});
//- </script>

div#vk_community_messages
script(type="text/javascript") VK.Widgets.CommunityMessages("vk_community_messages", 23317091, {expandTimeout: "120000",disableNewMessagesSound: "1",tooltipButtonText: "Есть вопрос?"})
