section.section.purpose.container
  .purpose__wrapper
    h2.title.purpose__title Цель таргетированной рекламы
    p.purpose__text Лиды, заявки, подписчики, увеличение охвата и рост вовлеченности - эти и другие задачи можно решить с помощью таргетированной рекламы
