-
  var data = {
    title: 'Администрирование и дизайн',
    text: 'Чтобы ваше сообщество в социальной сети работало на вас',
    button: 'Заказать',
    bg: '../img/administrationPage/BG.webp',
  };
+heroBlock(data)
