-
  var list = [
    {
      title: 'Современное оформление социальных сетей в соответствии с последними тенденциями и контроль ведения сообществ и аккаунтов. ',
      text: 'Перед началом регулярного постинга дизайнер подберет индивидуальный стиль для ваших социальных сетей: продумает дизайн каждой рубрики исходя из имиджа компании и актуальных трендов. ',
    },
    {
      title: 'Связь с клиентами ',
      text: 'Если вовремя не ответить на сообщение подписчика, он может уйти к компании-конкуренту. От ответа на его вопрос будет зависеть решение о принятии покупки. ',
    },
    {
      title: 'Общение с подписчиками ',
      text: 'Пользователи приходят в социальные сети, чтобы общаться. Администратор социальных сетей наладит общение между аудиторий, настроит подписчиков на диалог, формируя открытое и доброе отношение компании к своим клиентам.',
    },
    {
      title: 'Своевременное решение задач ',
      text: 'Любая компания сталкивается с негативными комментариями. Игнорировать отрицательные сообщения – не выход. Администратор социальных сетей отвечает на любые отзывы: положительные или негативные. Он также ведет прямые эфиры, публикует сторис и посты, удаляет рекламные объявления и проводит конкурсы. ',
    },
  ];

section.section.info.container
  h2.title.info__title Администрирование и дизайн
  for item in list
    h3.info__subtitle= item.title
    p.info__text= item.text
